/* #appt{
font-size: ;

} */

#buttondiv{
    display: flex;
    align-items: center;
    justify-content: center;
  
  }


  @media (max-width: 5000px) {
  #theFrame{
    padding-bottom: 100%; 
    position:relative; 
    align-items: center;
    display:block; 
    width: 100%
  }
}

@media (max-width: 1000px) {
  
    #theFrame{
      padding-bottom: 100%; 
      position:relative; 
      align-items: center;
      display:block; 
      width: 100%
    }

}

