.appt {
  font-size: larger;
  opacity: 0;
}

#buttondiv {
  /* display: flex; */
  /* align-items: center;
  justify-content: center;
  flex-direction: column; */
}

/* #theBox {
  display: block;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
} */

/* #theFrame {
  padding-bottom: clamp(500px, 100%, 800px); 
  position: relative;
  align-items: center;
  display: block;
  width: clamp(200px, 100%, 1000px);

} */

#qlessFrame {
  /* aspect-ratio: 16 / 9; */
  /* height: 100%;
  width: 100%; */
  /* padding-top: 10vh;
  padding-bottom: 10vh; */
  min-width: 100%;
  min-height: 85vh;
  /* height: clamp(500px, 100vh, 800px); */ */
}

#theFrame {
  padding: 10px;
  position: relative;
  align-items: center;
  display: block;
  width: 100%;
}
