/* #appt{
font-size: ;

} */

#buttondiv{
    display:flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
  
  }

  #theBox{
    display:flex;
    align-items: center;
    justify-content: center;
  
  }



  #theFrame{
    padding-bottom: clamp(500px, 75%, 800px);
    position:relative; 
    align-items: center;
    display:block; 
    width: clamp(200px, 75%, 1000px);

  }


/* @media (max-width: 1000px) {
  
    #theFrame{
      padding-bottom: 100%; 
      position:relative; 
      align-items: center;
      display:block; 
      width: 100%
    }

} */

