.appt {
  font-size: larger;
  opacity: 0;
}

#buttondiv {
  /* display: flex; */
  /* align-items: center;
  justify-content: center;
  flex-direction: column; */
}

#qlessFrame {
  aspect-ratio: 16 / 9;
  height: 100%;
  width: 100%;
  min-width: 100%;
  min-height: 75vh;
}

#theFrame {
  padding: 10px;
  position: relative;
  align-items: center;
  display: block;
  width: 100%;
}
